html, #wrapper {
    background: #FFF !important;
}
a, a:visited {
    color: darkred;
}
#form label {
    width: 100px;
    height: 20px;
    float: left;
}
.error-message {
    margin-left: 100px;
    font-size: 10px;
    color: darkred;
}